* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

canvas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
}